<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <img class="gzf-image-rounded"
          src="{{page.baseURL}}{{page.images.src.path}}{{page.images.src.query.page3.heatSystem}}" width="100%"
          alt="Système de chauffage">
        </div>
      </div>
      <!-- col right -->
      <div class="gzf-responsive-width">
        <x-background-rounded left="true">
          <h3>Le saviez-vous ?</h3>
          <p>Votre compteur doit toujours être visible et ne doit, en aucun cas, être recouvert par un abri,
            une bâche ou tout autre structure. Pour des questions de sécurité, pensez à retirer l'amas de
            neige qui peut se former autour durant la période hivernale.</p>
          <p>Si votre compteur est recouvert de glace, communiquez sans tarder avec notre service à la
            clientèle.</p>
        </x-background-rounded>
        <div class="gzf-space-col-right">
          <h3>Vous partez en vacances ?</h3>
          <p>Si votre absence est de courte durée (moins de 2 semaines), Enbridge Gaz Québec recommande à ses clients de
            baisser la température du thermostat de 2 à 3 degrés.</p>
          <p>Plusieurs appareils peuvent être adaptés durant votre période d'absence pour optimiser l'apport
            en chauffage ou en climatisation de votre logement. C'est le cas notamment des chauffe-eau à gaz
            naturel standards (reliés à une cheminée) qui peuvent se mettre en mode « vacances ». Pour le
            chauffe-eau à évacuation forcée, il peut simplement être débranché pendant votre absence et pour
            plus de sûreté, nous vous recommandons de fermer l'alimentation d'eau froide pour limiter les
            risques de dégâts en cas de fuite du réservoir. Pour les chauffe-eau électriques, fermez
            l'alimentation électrique ainsi que celle d'eau froide. Vous économiserez de l'énergie!</p>

          <p><x-link href="https://enbridgegaz.com/quelques-conseils-avant-de-partir-en-vacances/"
              text="Pour plus de conseils et astuces : Quelques conseils avant de partir en vacances" /></p>
        </div>
      </div>
    </td>
  </tr>
</table>
