<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <h3>Quelques trucs et astuces</h3>
          <h4>pour optimiser votre consommation</h4>
          <ol class="gzf-list-pl">
            <li class="mb-2">Gardez le contrôle avec un thermostat intelligent. Allié dans vos
              économies d'énergies, il vous offre une programmation basée sur vos habitudes et
              préférences. Contrôlable à distance grâce à votre téléphone intelligent, il vient répondre
              aux fluctuations de température de votre habitation et intègre votre routine. Si vous êtes
              éligibles, pour l'achat et l'installation d'un thermostat intelligent, recevez 100$.</li>
            <li class="mb-2">Misez sur la lumière naturelle : ouvrez vos rideaux lors des
              journées riche en soleil, la chaleur va ainsi venir réchauffer l'intérieur de votre
              habitation. En fin de journée, refermez vos rideaux pour garder la chaleur à l'intérieur.
            </li>
            <li class="mb-2">Changez le filtre de votre appareil de chauffage! Avec un filtre
              propre, votre appareil de chauffage vous offrira une performance optimale. Changez-le tous
              les 3 mois pour un bon entretien de votre appareil.</li>
            <li class="mb-2">Faites tourner vos ventilateurs de plafond : dans le sens des
              aiguilles d'une montre en hiver pour faire fonctionner votre chauffage efficacement et dans
              le sens inverse en été pour que l'air chaud monte. Un geste simple pour une meilleure
              circulation de l'air!</li>
            <li class="mb-2">N'obstruez pas les bouches d'air chaud et de retour d'air froid
              (*si vous disposez d'un système à air propulsé).</li>
          </ol>
          <p>De manière générale, des appareils bien entretenus vous permettront d'optimiser votre
            consommation et de sauver un maximum d'énergie! Retrouvez tous nos conseils juste ici :</p>
          <p><x-link href="https://enbridgegaz.com/residentiel/deja-client/mieux-consommer/" text="Mieux consommer" /></p>
        </div>
        <x-background-rounded>
          <h3>Le saviez-vous ?</h3>
          <p>Enbridge Gaz Québec vous offre la possibilité de bénéficier d'une aide financière lors de l'achat et de
            l'installation d'un appareil à efficacité énergétique!</p>
        </x-background-rounded>
        <div class="gzf-space-col-left">
          <p>Quelques exemples :</p>
          <p>Si vous êtes un client résidentiel, bénéficiez de : 400$ à l'installation d'un échangeur d'air
            avec récupérateur de chaleur, 500$ pour un chauffe-eau sans réservoir à condensation ou encore
            850$ pour un système de chauffage combiné à haute efficacité.</p>
          <p class="text-xs mb-5">Certaines conditions s'appliquent.</p>
          <x-button-rounded href="https://enbridgegaz.com/residentiel/deja-client/remises-en-argent/">
            DÉCOUVREZ LES REMISES EN ARGENT POUR LES PARTICULIERS
          </x-button-rounded>
        </div>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <img class="gzf-image-rounded mt-4"
          src="{{page.baseURL}}{{page.images.src.query.page2.waterHeater}}" width="100%"
          alt="Chauffe-eau" />
        <h3>Votre chauffe-eau et fournaise sont en location, voici vos avantages :</h3>
        <ul class="gzf-list-pl">
          <li style="margin-bottom: 5px;">Rien à débourser pour l’installation standard de l’appareil (sauf stipulations contraires mentionnées dans les conditions de location)</li>
          <li style="margin-bottom: 5px;">Un service de réparation 24 heures sur 24, 7 jours sur 7</li>
          <li style="margin-bottom: 5px;">Des frais d’entretien et de réparation entièrement assurés</li>
          <li>Des installations sécuritaires et conformes aux normes gouvernementalesdes travaux.</li>
        </ul>
        <h3>La sécurité est l’affaire de tous et une priorité chez Enbridge Gaz Québec</h3>
        <p>Pour assurer votre sécurité et celle de vos proches, faites entretenir vos appareils par un professionnel certifié en gaz naturel. Profitez-en pour faire vérifier votre système de ventilation et d’évacuation des gaz.</p>
        <p>Conservez l’espace autour de vos appareils à combustion propre. Ne couvrez pas les commandes, les entrées d’air ou les bouches d’évacuation.</p>
        <p>Lors des changements d’heure, Enbridge Gaz Québec invite ses clients à vérifiez les piles des détecteurs!</p>
        <x-link href="https://enbridgegaz.com/securite-et-prevention/" text="Sécurité et prévention" />
      </div>
    </td>
  </tr>
</table>
