<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <h3>Safety is everyone’s business, and a priority at Enbridge Gaz Québec</h3>
          <p>To ensure your safety and that of your family, have your equipment maintained by a certified natural gas professional. Have your air ducts and gas exhaust checked at the same time.</p>
          <p>Keep the area around your combustion equipment clean. Do not obstruct the display, air intake or exhaust.</p>
          <p>Enbridge Gaz Québec encourages its customers to check the batteries for their alarms when setting the clock back or forward!</p>
          <p><x-link href="https://enbridgegaz.com/en/safety-and-prevention/" text="Safety and Prevention" /></p>
          <img class="gzf-image-rounded"
          src="{{page.baseURL}}{{page.images.src.query.page3.heatSystem}}" width="100%"
          alt="Heater system">
        </div>
      </div>
      <!-- col right -->
      <div class="gzf-responsive-width">
        <x-background-rounded left="true">
          <h3>Did you know?</h3>
          <p>Enbridge Gaz Québec offers you the chance to obtain cash incentive when you purchase and install an energy efficiency appliance!</p>
        </x-background-rounded>
        <div class="gzf-space-col-right">
          <h3>Are you going to be away for a while?</h3>
          <p>If you’re going to be away for a short while (less than two weeks), Enbridge Gaz Québec recommends you lower the thermostat setting by 2 or 3 degrees.</p>
          <p>Several appliances can be adapted while you’re away to optimize your heating or air conditioning. That’s the case, for instance, with standard natural gas water heater (connected to a chimney), which can be set a “vacation” mode. Power vent water heaters can simply be disconnected while you are away, and for additional safety, shut off the cold water supply to limit the risk of damage from leakage. For electric water heaters, switch off the power supply as well as the cold water supply. Save energy!</p>
          <p><x-link href="https://enbridgegaz.com/en/a-few-suggestions-before-you-go-on-vacation/"
              text="For additional tips and tricks : A few suggestions before you go on vacation" /></p>
        </div>
      </div>
    </td>
  </tr>
</table>
