<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <h3 class="gzf-space-col-left">Qui nous sommes</h3>
        <div class="gzf-space-col-left">
          <p>Enbridge Énov se distingue par son engagement à fournir des solutions écoénergétiques qui répondent aux besoins croissants de notre société. En tant que nouvelle marque créée par Enbridge Gaz Québec, distributeur d’énergie dans la région de l’Outaouais, Enbridge Énov bénéficie de l'expertise et du savoir-faire d'une entreprise bien établie depuis 65 ans. Avec un taux de satisfaction client de 92% et plus de 45 000 appareils en location, cette expérience constitue un atout majeur pour répondre aux attentes des consommateurs.</p>
        </div>
        <h3 class="gzf-space-col-left">Comment nous joindre</h3>
        <div class="gzf-space-col-left">
          <p>Pour toutes questions concernant votre facture, nos représentants au service à la clientèle sont disponibles du lundi au vendredi, de 8h30 à 16h30. Pour toute question ou assistance technique, notre service d’assistance est disponible 24 heures sur 24, 7 jours sur 7. Pour nous contacter, composez le <x-link
                href="tel:+1844550ENOV" text="1-844-550-ENOV" /> ou écrivez-nous à <x-link href="mailto:enov@enbridge.com" text="enov@enbridge.com" />. Vous pouvez également visiter notre site web à l’adresse <x-link href="https://enbridgeenov.com" text="enbridgeenov.com" />.</p>
        </div>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <h3>Votre facture</h3>
        <p>Chaque mois, nous préparerons votre état de compte qui sera accessible via notre Espace Client. Pratique et sécuritaire, l’Espace client vous permet d’accéder rapidement à vos factures. Aucune démarche de votre part n’est à prévoir. Nous avons déjà complété pour vous, votre inscription à la facture en ligne. Lorsque votre facture sera prête, vous recevrez une communication par courriel à cet effet.</p>
        <h3>Comment payer votre facture</h3>
        <p>Différents modes de paiement simples et sécuritaires s’offrent à vous. Vous pouvez acquitter votre facture de la façon qui vous convient le mieux ; adhérez notre programme de prélèvements automatiques via votre compte bancaire. Une solution accessible dans votre Espace client que vous pouvez suspendre à tout moment. Ou encore, au guichet automatique, par téléphone ou internet via votre institution bancaire : vous devez sélectionner Enbridge Énov, à titre de fournisseur.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="">
      <h3 class="mx-5">Restez informés de nos plus récentes nouvelles</h3>
      <p class="mx-5">Suivez-nous sur <x-link href="https://www.facebook.com/" title="Facebook" text="Facebook" /> et  <x-link href="https://www.linkedin.com/" title="LinkedIn" text="LinkedIn" /> pour rester informés sur nos équipes, nos services et soyez à l’affût de nos offres. N’hésitez pas à interagir avec nous afin de nous permettre de mieux vous connaître !</p>
    </td>
  </tr>
</table>
