<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <h3 class="gzf-space-col-left">Who we are</h3>
        <div class="gzf-space-col-left">
          <p>Enbridge Énov stands out for its commitment to providing energy-efficient solutions that meet the growing needs of our society. As a new brand created by Enbridge Gaz Québec, an energy distributor serving the Outaouais region, Enbridge Énov benefits from the expertise and know-how of a well-established company with 65 years of experience. With a customer satisfaction rate of 92% and over 45,000 rental appliances, this experience is a major asset in meeting consumer expectations.</p>
        </div>
        <h3 class="gzf-space-col-left">How to reach us</h3>
        <div class="gzf-space-col-left">
          <p>For any questions regarding your invoice, our customer service representatives are available Monday to Friday, from 8:30 AM to 4:30 PM. For any technical questions or assistance, our support service is available 24/7. To contact us, call <x-link
                href="tel:+1844550ENOV" text="1-844-550-ENOV" /> or email us at <x-link href="mailto:enov@enbridge.com" text="enov@enbridge.com" />. You can also visit our website at <x-link href="https://enbridgeenov.com" text="enbridgeenov.com" />.</p>
        </div>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <h3>Your invoice</h3>
        <p>Each month, we will prepare your statement of account which will be accessible via our Customer Portal. Convenient and secure, the Customer Portal allows you to quickly access your invoices. No action is required on your part. We have already completed your registration for online billing. When your invoice is ready, you will receive an email notification.</p>
        <h3>How to pay your invoice</h3>
        <p>Various simple and secure payment methods are available to you. You can pay your invoice in the way that suits you best; join our automatic debit program via your bank account. This solution is accessible in your Customer Portal and can be suspended at any time. Alternatively, you can pay at an ATM, by phone, or online through your bank: you must select Enbridge Énov, as the supplier.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="">
      <h3 class="mx-5">Stay informed of our latest news</h3>
      <p class="mx-5">Follow us on <x-link href="https://www.facebook.com/" title="Facebook" text="Facebook" /> and <x-link href="https://www.linkedin.com/" title="LinkedIn" text="LinkedIn" /> to stay informed about our teams, our services, and be on the lookout for our offers. Feel free to interact with us to help us get to know you better!</p>
    </td>
  </tr>
</table>
