<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <p>If you are the owner of this address, and it is being rented by someone:</p>
          <ul class="gzf-list-pl">
            <li>Please notify your tenant that he or she should contact us as soon as possible to complete the transfer
              of responsibility. We will not be able to make any changes without your tenant’s consent.</li>
          </ul>
          <p>If you are the resident owner of this address or the resident tenant at this address:</p>
          <ul class="gzf-list-pl">
            <li>To complete your file, please notify us of any incorrect or missing information and your corrections by
              calling our Customer Portal at <x-link href="tel:+18197718321" text="1-819-771-8321" />, or by writing to <x-link href="mailto:infogaz@enbridge.com" text="infogaz@enbridge.com"/>.</li>
          </ul>
        </div>
        <div class="gzf-space-col-left">
          <p>Click below to access a form you will need to fill out (it will only take a few minutes):</p>
          <p><x-link href="https://enbridgegaz.com/en/welcome-to-enbridge-gaz-quebec/" text="Welcome to Enbridge Gaz - Enbridge Gaz Québec" /></p>
          <p>According to our terms of service, the contract between you and Enbridge Gaz Québec comes into effect once your
            natural gas service application is approved. Even though the contract is not in writing, it remains in
            effect until it is terminated by the customer or Enbridge Gaz Québec.</p>
        </div>
        <h3 class="gzf-space-col-left">Manage your consumption and your bills from your Customer Portal!
        </h3>
        <x-background-rounded>
          <h3>Did you know?</h3>
          <p>You can spread the total cost of your annual natural gas consumption across 12 monthly bills. Your monthly
            payments are reviewd twice a year, in March/April and in September, to align with your consumption and the
            price of natural gas. Are you interested ?</p>
          <p>All it takes is a few clicks : it’s simple and quick!</p>
          <p><a class="text-gzf-primary italic" href="https://enbridgegaz.com/en/my-bill/" target="_blank">My Bill - Enbridge Gaz Québec</a></p>
        </x-background-rounded>
        <p class="gzf-space-col-left">Your Customer Portal, accessible through <x-link href="https://enbridgegaz.com/en/"
            text="www.enbridgegaz.com" />, lets you check your bill, your transaction history, your current charges and
          your payment arrangements!</p>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <h3>Do you have questions about your bill?</h3>
        <p>Account number, consumption history and determination, status of your account... understand your bill at a
          glance using our example :</p>
        <div class="gzf-image-border">
          <img src="{{page.baseURL}}{{page.images.src.query.page1.facture}}" width="100%"
            alt="Bill sample" />
        </div>
        <h3>Enbridge Gaz Québec proposes different payment methods. Choose the one that best suits you!</h3>
        <ul class="gzf-list-pl">
          <li style="margin-bottom: 5px;">Pay your bill online through your banking institution.</li>
          <li>Sign up for the automatic withdrawals program: it’s simple and quick!
            <span class="text-gzf-yellow">Recommended</span>.
          </li>
        </ul>
        <h3>Adhere to gas from renewable sources</h3>
        <p>Since 2020, we have been offering our customers the option of contributing to a better environment by opting
          into the RSG rate. Customers who voluntarily agree to have part of their consumption billed at the RSG rate
          encourage the RSG program and help reduce GHG and methane emissions.</p>
      </div>
    </td>
  </tr>
</table>
