<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <p>Si vous êtes propriétaire à cette adresse qui est louée par un locataire :</p>
          <ul class="gzf-list-pl">
            <li>Veuillez svp aviser votre locataire qu'il est invité à communiquer avec nous
              le plus rapidement possible afin d'effectuer le transfert de responsabilité. Aucun
              changement ne pourra être fait sans que nous ayons obtenu le consentement de
              votre locataire.</li>
          </ul>
          <p>Si vous êtes propriétaire occupant à cette adresse ou, vous êtes le locataire occupant à cette
            adresse :</p>
          <ul class="gzf-list-pl">
            <li>Pour compléter votre dossier, faites-nous part de toute donnée erronnée ou
              manquante et vos corrections en communiquant avec notre centre contact client au <x-link
                href="tel:+18197718321" text="1-819-771-8321" />, ou en écrivant à <x-link
                href="mailto:infogaz@enbridge.com" text="infogaz@enbridge.com" />.</li>
          </ul>
        </div>
        <div class="gzf-space-col-left">
          <p>Pour se faire, vous trouverez ici un formulaire à remplir (ceci ne prendra quelques
            minutes) :</p>
          <p><x-link href="https://enbridgegaz.com/bienvenue-chez-enbridge-gaz/" text="Bienvenue chez Enbridge Gaz - Enbridge Gaz" /></p>
          <p>Selon nos conditions de service, le contrat entre vous et Enbridge Gaz Québec est conclu lorsque
            vous recevrez une approbation sur votre demande de service de gaz naturel. Même si le
            contrat n'est pas écrit, il demeure en vigueur jusqu'à ce qu'il soit résilié par le
            client ou par Enbridge Gaz Québec.</p>
        </div>
        <h3 class="gzf-space-col-left">Gérez votre consommation et vos factures depuis votre Espace Client!
        </h3>
        <x-background-rounded>
          <h3>Le saviez-vous ?</h3>
          <p>Le mode de paiements étalés vous permet de répartir le coût total de votre
            consommation annuelle de gaz naturel en 12 factures mensuelles. Vos mensualités
            sont révisées 2 fois par année : en mars/avril et en septembre pour être en accord
            avec votre consommation et le prix du gaz naturel. Intéressé.e.s ?</p>
          <p>Adhérez en quelques clics, c'est simple et rapide!</p>
          <p><a class="text-gzf-primary italic" href="https://enbridgegaz.com/ma-facture/">Ma facture - Enbridge Gaz</a></p>
        </x-background-rounded>
        <p class="gzf-space-col-left">Sur <x-link href="https://enbridgegaz.com" text="www.enbridgegaz.com" />, votre Espace
          client vous permet d'accédez en tout temps à vos factures, l'historique de vos transactions, vos charges
          courantes ou encore vos arrangements de paiements!</p>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <h3>Des questions sur votre facture ?</h3>
        <p>Numéro de compte, historique et calcul de votre consommation, état de votre compte... comprenez votre facture
          en un coup d'oeil grâce à notre exemple :</p>
        <div class="gzf-image-border">
          <img src="{{page.baseURL}}{{page.images.src.query.page1.facture}}" width="100%"
            alt="Exemple de facture" />
        </div>
        <h3>Enbridge Gaz Québec vous propose différents moyens de paiement. Choisissez celui qui vous convient!</h3>
        <ul class="gzf-list-pl">
          <li style="margin-bottom: 5px;">Rendez-vous sur le site de votre institution bancaire pour régler
            votre facture.
          </li>
          <li>Adhérez au programme de prélèvements automatiques : c'est simple et rapide!
            <span class="text-gzf-yellow">Recommandé</span>.
          </li>
        </ul>
        <h3>Adhérez au gaz de source renouvelable</h3>
        <p>Depuis 2020, nous offrons à nos clients la possibilité de contribuer à un environnement
          meilleur en adhérant au tarif GSR. Les clients qui acceptent volontairement d'assujettir
          une part de leur consommation au tarif GSR encourage la filière du GSR et contribue à
          réduire les émissions de GES et de méthane.</p>
      </div>
    </td>
  </tr>
</table>
