<!--
'aware:...' to pass client.number to nested children and access it with clientNumber as variable. However in the main, use 'client.number', as with the default 'page' variable.
  ie. <x-main aware:clientNumber="{{ client.number }}">
-->

<x-main>
  <div class="bg-white font-sans flex justify-center w-screen h-screens text-gzf-primary">
    <div class="min-w-gzf-min max-w-gzf-max border border-solid border-gzf-gray-light">
      <table>
        <!-- header -->
        <tr><td>
          <x-common.header-en />
        </td></tr>

        <!-- page 1 -->
        <tr><td>
          <x-services-offres.common.page-1-en />
        </td></tr>

        <!-- divider -->
          <tr>
            <td>
              <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 16px 0;">
                    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="border-top: 2px solid #e5e7eb; font-size:0; line-height:0;">
                          &nbsp;
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


        <!-- page 2 -->
        <tr><td>
          <x-services-offres.plan.page-2-en />
          <!-- OR <component src="src/components/services-offres/page-2.html" /> -->
        </td></tr>

        <!-- divider -->
          <tr>
            <td>
              <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 16px 0;">
                    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="border-top: 2px solid #e5e7eb; font-size:0; line-height:0;">
                          &nbsp;
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


        <!-- page 3 -->
        <tr><td>
          <x-services-offres.plan.page-3-en />
          <!-- OR <component src="src/components/services-offres/page-3.html" /> -->
        </td></tr>

        <!-- divider -->
          <tr>
            <td>
              <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding: 16px 0;">
                    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="border-top: 2px solid #e5e7eb; font-size:0; line-height:0;">
                          &nbsp;
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


        <!-- footer -->
        <tr><td>
          <x-common.footer-en />
        </td></tr>
      </table>
    </div>
  </div>
</x-main>
