<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <h3>A few tips and tricks</h3>
          <h4>to optimize your consumption</h4>
          <ol class="gzf-list-pl">
            <li class="mb-2">Be in control with a smart thermostat. As your ally in your energy saving efforts, it adapts to yours habits preferences. You can control it remotely through you smartphone, as it responds to the temperature fluctuations in your home and integrates your routine. If you are eligible, when your purchase and install a smart thermostat, you will receive 100$.</li>
            <li class="mb-2">Make the most of natural light: open your curtains on sunny days.</li>
            <li class="mb-2">Change your furnace filter! A clean filter helps deliver optimal performance. Change it every three months to maintain your system.</li>
            <li class="mb-2">Set your ceiling fan direction clockwise in winter to run your heating efficiently, and counter-clockwise in the summer to pull the hot air up. A simple trick to improve air circulation!</li>
            <li class="mb-2">Keep furnace intake and exhaust pipes clear of obstructions (*if you have a forced air system).</li>
          </ol>
          <p>As a rule, well-maintained appliances enable you to optimize your consumption ! You’ll find all our tips at :</p>
          <p><x-link href="https://enbridgegaz.com/en/residential/existing-customer/consume-better/" text="Optimize your consumption" /></p>
        </div>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <x-background-rounded left="true">
          <h3>Did you know?</h3>
          <p>Enbridge Gaz Québec offers you the chance to obtain cash incentive when you purchase and install an energy efficiency appliance!</p>
        </x-background-rounded>
        <div class="gzf-space-col-left">
          <p>Some examples:</p>
          <p>As a residential customer, you may be eligible for $400 when you install an air exchanger with heat recovery, $500 for a condensing tankless water heater or $850 for a high efficiency combined heating system (conditions apply).</p>
          <p class="text-xs mb-5">Certain conditions apply.</p>
          <x-button-rounded href="https://enbridgegaz.com/en/residential/existing-customer/cash-incentives/">
            FIND OUT ABOUT THE CASH INCENTIVES FOR RESIDENTIALS
          </x-button-rounded>
        </div>
      </div>
    </td>
  </tr>
</table>
