<table>
  <tr>
    <td class="gzf-responsive">
      <!-- col left -->
      <div class="gzf-responsive-width">
        <div class="gzf-space-col-left">
          <h3>Quelques trucs et astuces</h3>
          <h4>pour optimiser votre consommation</h4>
          <ol class="gzf-list-pl">
            <li class="mb-2">Gardez le contrôle avec un thermostat intelligent. Allié dans vos
              économies d'énergies, il vous offre une programmation basée sur vos habitudes et
              préférences. Contrôlable à distance grâce à votre téléphone intelligent, il vient répondre
              aux fluctuations de température de votre habitation et intègre votre routine. Si vous êtes
              éligibles, pour l'achat et l'installation d'un thermostat intelligent, recevez 100$.</li>
            <li class="mb-2">Misez sur la lumière naturelle : ouvrez vos rideaux lors des
              journées riche en soleil, la chaleur va ainsi venir réchauffer l'intérieur de votre
              habitation. En fin de journée, refermez vos rideaux pour garder la chaleur à l'intérieur.
            </li>
            <li class="mb-2">Changez le filtre de votre appareil de chauffage! Avec un filtre
              propre, votre appareil de chauffage vous offrira une performance optimale. Changez-le tous
              les 3 mois pour un bon entretien de votre appareil.</li>
            <li class="mb-2">Faites tourner vos ventilateurs de plafond : dans le sens des
              aiguilles d'une montre en hiver pour faire fonctionner votre chauffage efficacement et dans
              le sens inverse en été pour que l'air chaud monte. Un geste simple pour une meilleure
              circulation de l'air!</li>
            <li class="mb-2">N'obstruez pas les bouches d'air chaud et de retour d'air froid
              (*si vous disposez d'un système à air propulsé).</li>
          </ol>
          <p>De manière générale, des appareils bien entretenus vous permettront d'optimiser votre
            consommation et de sauver un maximum d'énergie! Retrouvez tous nos conseils juste ici :</p>
          <p><x-link href="https://enbridgegaz.com/residentiel/deja-client/mieux-consommer/" text="Mieux consommer" /></p>
        </div>
      </div>

      <!-- col right -->
      <div class="gzf-space-col-right gzf-responsive-width">
        <x-background-rounded left="true">
          <h3>Le saviez-vous ?</h3>
          <p>Enbridge Gaz Québec vous offre la possibilité de bénéficier d'une aide financière lors de l'achat et de
            l'installation d'un appareil à efficacité énergétique!</p>
        </x-background-rounded>
        <div class="gzf-space-col-left">
          <p>Quelques exemples :</p>
          <p>Si vous êtes un client résidentiel, bénéficiez de : 400$ à l'installation d'un échangeur d'air
            avec récupérateur de chaleur, 500$ pour un chauffe-eau sans réservoir à condensation ou encore
            850$ pour un système de chauffage combiné à haute efficacité.</p>
          <p class="text-xs mb-5">Certaines conditions s'appliquent.</p>
          <x-button-rounded href="https://enbridgegaz.com/residentiel/deja-client/remises-en-argent/">
            DÉCOUVREZ LES REMISES EN ARGENT POUR LES PARTICULIERS
          </x-button-rounded>
        </div>
      </div>
    </td>
  </tr>
</table>
