<table role="presentation" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="pl-7 pb-5">
      <x-link-icon icon-url="{{page.baseURL}}{{page.images.src.query.footer.email}}" href="mailto:enov@enbridge.com"
        title="Email us at" text="enov@enbridge.com" />
    </td>
    <td class="text-center  pb-5">
      <x-link-icon icon-url="{{page.baseURL}}{{page.images.src.query.footer.tel}}" href="tel:+1-819-771-8321"
        title="Call the number" text="1-819-771-8321" />
    </td>
    <td class="text-center pb-5">
      <x-link-icon icon-url="{{page.baseURL}}{{page.images.src.query.footer.location}}"
        href="http://maps.google.com/?q=706, boulevard Gréber, Gatineau, QC J8V 3P8" title="Find our location"
        text="706, boulevard Gréber, Gatineau, QC J8V 3P8" />
    </td>
    <td class="pr-7 text-right pb-5">
      <x-link-icon icon-url="{{page.baseURL}}{{page.images.src.query.footer.site}}"
        href="https://www.enbridgegaz.com/en/" title="Visit the site" text="enbridgegaz.com" />
    </td>
  </tr>
</table>
