<table>
  <tr><td>
    <div
      class="bg-gzf-primary flex justify-between items-end pl-7 pr-3 pt-12 pb-2"
      style="background: url('{{page.baseURL}}{{page.images.src.query.header.bg}}') no-repeat top right/100%;">
      <h1 class="text-gzf-yellow uppercase m-0 mb-2.5 text-2xl">Bienvenue chez<br>Enbridge Énov!</h1>
      <div>
        <img class="w-40 align-super"
          src="{{page.baseURL}}{{page.images.src.query.header.logoEnov}}"
          alt="Enbridge Enovlogo" />
      </div>
    </div>
  </td></tr>
  <tr><td class="px-7 pt-7 pb-3 flex justify-between items-end">
    <h3 class="text-lg m-0">Madame, Monsieur,</h3>
    <p class="m-0">NUMÉRO DE CLIENT: {{ page.client.number }}<br/>ADRESSE DE SERVICE: {{ page.client.address }}</p>
  </td></tr>
  <tr><td class="px-7">
    <p>Nous sommes ravis de vous compter parmi nous ! Chez Enbridge Énov, nous nous engageons à vous fournir des appareils de qualité mais aussi, une expérience client inégalée ! Voici, pour vous, quelques informations utiles et inspirantes.</p>
  </td></tr>
</table>
