<table>
  <tr><td>
    <div
      class="bg-gzf-primary flex justify-between items-end pl-7 pr-3 pt-12 pb-2"
      style="background: url('{{page.baseURL}}{{page.images.src.query.header.bg}}') no-repeat top right/100%;">
      <h1 class="text-gzf-yellow uppercase m-0 mb-2.5 text-2xl">Welcome to<br>Enbridge Gaz Québec!</h1>
      <div>
        <img class="w-30 align-super"
          src="{{page.baseURL}}{{page.images.src.query.header.logo}}"
          alt="Enbridge Gaz Québec logo" />
      </div>
    </div>
  </td></tr>
  <tr><td class="px-7 pt-7 pb-3 flex justify-between items-end">
    <h3 class="text-lg m-0">Madame, Monsieur,</h3>
    <p class="m-0">CLIENT ACCOUNT: {{ page.client.number }}</p>
  </td></tr>
  <tr><td class="px-7">
    <p>You are now a Enbridge Gaz Québec customer! Thank you for having chosen an energy source like no other, synonymous with comfort and energy efficiency. We are writing to ask you to please validate the information we have on file to ensure the accuracy of our records.</p>
  </td></tr>
</table>
